/* Playfair */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,900;1,400;1,500&display=swap');
/* Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Lato', Arial, sans-serif;
}

:root {
  --primary-color: #92E3A9;
  --primary-hover: #79c990;
}

a{
  color: inherit;
  text-decoration: none;
}

a:hover{
  color: inherit;
}

.row{
  /* remove side scroll bar from row */
  --bs-gutter-x: 0;
}

/* header */
.main-title{
  font-size: 2rem;;
  cursor: pointer;
  color: rgb(61, 61, 61);
  font-family: 'Playfair Display', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
  font-style: italic;
}

.top-header{
  border-bottom: 1px solid rgb(221, 221, 221);
}

.login-btn{
  color: rgb(61, 61, 61);
  border: 1px solid rgb(61, 61, 61);
  background-color: var(--primary-color);
  font-weight: bold;
  border-radius: 5px;
  transition: background-color .45s;
}

.login-btn:hover{
  background-color: var(--primary-hover);
}

/* Footer */
.footer-div{
  min-height: 71.39px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(146, 227, 169, .8);
  
}

/* Home */
.bold{
  font-weight: bold;
}

.main-contain{
  /* since there is a min height, must badd a table display ion order to center
  content vertically that does not fill upo the whole page, like Login */
  display: table;
  min-height: calc(100vh - 71.39px - 71.39px);
}

/* NovelList */
.ital{
  font-style: italic;
}

.novel-desc{
  color: rgb(143, 143, 143);
}

.read-more{
  cursor: pointer;
  color: rgb(62, 62, 255);
  text-decoration: underline;
  margin-left: .2rem;
}

.read-btn{
  color: white;
  background-color: rgb(37, 131, 255);
}

.fav-btn{
  color: white;
  background-color: rgb(0, 185, 46);
}

.read-btn:hover,
.fav-btn:hover{
  color: rgb(219, 219, 219);
}

.ml-3{
  margin-left: 1.5rem;
}

.novel-list-icon{
  margin-right: .25rem;
  position: relative;
  top: 1px;
}

/* SingleNovel */

.light-shadow-bottom{
  -webkit-box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.32); 
  box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.32);
}

.light-bottom-border{
  border-bottom: 1px solid rgb(182, 182, 182);
}

.novel-article{
  border-radius: 20px;
  padding: 1rem;
  width: 47.5%;
  -webkit-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.4); 
  box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.4);
  min-height: 600px;
  max-height: 600px;
}

.review-textarea{
  width: 75%;
  font-size: 18px;
  padding: 1rem;
}

.review-submit-btn{
  margin-top: auto;
  color: white;
  margin-left: 1rem;
  height: 4rem;
  width: 5rem;
  font-size: 30px;
  background-color: rgb(0, 185, 46);
}

.review-submit-btn:hover{
  color: white;
  background-color: rgb(63, 211, 100);
}

/* Login */

.login-divs{
  width: 45%;
}

.login-section{
  /* to center login img and form in parent div
  main-contain. both parent and this child must width 100 */
  display: table-cell;
  vertical-align: middle;
}

.login-contain{
  border: 2px solid var(--primary-color);
}

.login-header-contain{
  display: flex;
  background-color: var(--primary-color);
}

.login-header{
  cursor: pointer;
  width: 25%;
  text-align: center;
  transition: .5s background-color;
}

.login-header-active{
  background-color: var(--primary-hover);
}

.login-body-contain{
  padding: 1.25rem 2rem;
}

.form-input{
  padding: .25rem .5rem;
  width: 100%;
}

.info-form{
  font-size: 20px;
}

.login-submit{
  font-size: 20px;
  background-color: var(--primary-color);
  display: block;
  margin-left: auto;
}

.login-submit:hover{
  background-color: var(--primary-hover);
}

.err-text{
  font-size: 16px;
  color: red;
}

.new-here{
  font-size: 16px;
  margin-bottom: 1rem;
}