/* Playfair */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,900;1,400;1,500&display=swap');
/* Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Lato', Arial, sans-serif;
}

/* header */
.main-title{
  font-size: 2rem;
  cursor: pointer;
  color: rgb(61, 61, 61);
  font-family: 'Playfair Display', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
  font-style: italic;
}

.top-header{
  border-bottom: 1px solid rgb(221, 221, 221);
}

.login-btn{
  color: rgb(61, 61, 61);
  font-weight: bold;
  border: 1px solid rgb(61, 61, 61);
  border-radius: 5px;
  transition: color .45s, border .45s;
}

.login-btn:hover{
  border: 1px solid rgb(100, 100, 100);
  color: rgb(100, 100, 100);
}

/* Home */
.bold{
  font-weight: bold;
}

/* NovelList */
.ital{
  font-style: italic;
}

.novel-desc{
  color: rgb(143, 143, 143);
}

.read-more{
  cursor: pointer;
  color: rgb(62, 62, 255);
  text-decoration: underline;
  margin-left: .2rem;
}

.read-btn{
  color: white;
  background-color: rgb(37, 131, 255);
}

.fav-btn{
  color: white;
  background-color: rgb(0, 185, 46);
}

.read-btn:hover,
.fav-btn:hover{
  color: rgb(219, 219, 219);
}

.ml-3{
  margin-left: 1.5rem;
}

.novel-list-icon{
  margin-right: .25rem;
  position: relative;
  top: 1px;
}